@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --primary: #A306B6;
    --secondary: #D9D9D9;
    --secondary-light: #fff;
    --text-light: #fff;
    --text-dark: #2b2b2b;
    --access: #2b2b2b;
}

h1, h2, h3, p, blockquote {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

html, body {
    background-color: var(--secondary);
    font-family: "Source Sans 3", serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.navbar {
    box-sizing: border-box;
    background-color: var(--primary);
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
    padding: 10px;
}

.navbar-icon {
    height: 35px;
}

.navbar-menu {
    padding: 0 2%;
    display: flex;
    align-items: center;
}

.navbar-menu > .btn {
    display: none;
}

.navbar-menu > .btn > img {
    width: 35px;
}

.navbar-menu > .list {
    display: flex;
    gap: 0 50px;
}

.navbar-menu > .list .link {
    cursor: pointer;
    color: var(--text-light);
    font-size: 1.1rem;
    font-weight: 600;
    width: max-content;
}

.navbar-menu > .list .link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    border-radius: 1px;
    background-color: var(--secondary-light);
    transition: width .15s ease-in-out;
}

.navbar-menu > .list .link:hover::after,
.navbar-menu > .list .link:focus-visible::after {
    width: 100%;
}

.container {
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    background-color: var(--secondary-light);
    /* Elastic scroll end background effect */
    background: linear-gradient(180deg, rgba(163,6,182,1) 50%, rgba(217,217,217,1) 50%);
}

.container-header {
    background-color: var(--primary);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 20px 0 30px 0;
}

.container-header > .picture {
    width: 150px;
    background-color: var(--secondary-light);
    border: var(--secondary-light) 3px solid;
    border-radius: 50%;
}

.container-header > .title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    color: var(--text-light);
}

.container-body {
    background: var(--secondary-light);
    padding-bottom: 80px;
}

.container-body-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 60px;
}

.container-body-section > .title {
    font-size: 1.8rem;
    color: var(--primary);
}

.container-body-section > .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(150px, calc(45vw - 8px), 250px));
    grid-template-rows: repeat(auto-fit, clamp(150px, calc(45vw - 8px), 250px));
    justify-content: center;
    gap: 16px;
    width: 90%;
}

.container-body-section > .grid > .cell {
    box-sizing: border-box;
    background-color: var(--secondary);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 0;
    aspect-ratio: 1 / 1;
}

.container-body-section > .grid > .cell > .picture {
    max-height: 50%;
}

.container-body-section > .grid > .cell > .title {
    color: var(--text-dark);
    font-size: 1.15rem;
}

.container-body-section > .grid > .cell > .link {
    background-color: var(--primary);
    color: var(--text-light);
    font-size: 0.95rem;
    font-weight: 600;
    text-align: center;
    position: relative;
    min-width: 45%;
    padding: 2% 0;
    border-radius: 40px;
    transition: padding .15s ease-in-out;
}

.container-body-section > .grid > .cell > .link:hover,
.container-body-section > .grid > .cell > .link:focus-visible {
    padding: 2% 6px;
}

.container-body-section > .grid > .cell > .link:focus-visible {
    box-shadow: 0 0 0 2px var(--access);
}

.container-body-section > .paragraph {
    width: min(80%, 600px);
}

.container-footer {
    background-color: var(--secondary);
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 16px;
}

.container-footer a {
    color: var(--primary);
    padding: 0 1px;
}

.container-footer a:focus-visible {
    border-radius: 5px;
    box-shadow: 0 0 0 2px var(--access);
}

@media (max-width: 480px) {
    body {
       flex-direction: row-reverse;
       overflow-x: auto;
       scroll-snap-type: x mandatory;
       scroll-behavior: smooth;
       justify-content: flex-start; 
    }
    body div {
        scroll-snap-align: center;
    }
    .navbar {
        position: relative;
        flex-shrink: 0;
        width: 50vw;
        flex-direction: column;
    }
    .navbar > .navbar-menu {
        flex-direction: column;
    }
    .container {
        flex-shrink: 0;
        width: 100vw;
    }
    .container-header {
        flex-direction: column;
    }
}