.orbital {
    --orbit-line: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vw;
    user-select: none;
    pointer-events: none;
    overflow: hidden;
}

.orbital > .disks {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100vw;
    height: 100vw;
    transform: rotateX(75deg);
    transform-style: preserve-3d;
}

.orbital > .disks > .disk {
    --distance: calc((var(--distance-radius) / 100) * 80%);
    position: absolute;
    width: var(--distance);
    height: var(--distance);
    border: var(--orbit-line) 1px solid;
    border-radius: 50%;
    box-sizing: border-box;
    transform-style: preserve-3d;
    will-change: transform;
}

.orbital > .disks > .disk.left {
    animation: rotate-disk-L 8000ms linear infinite;
}

.orbital > .disks > .disk.right {
    animation: rotate-disk-R 8000ms linear infinite;
}

.orbital > .disks > .disk > .disk-content {
    position: absolute;
    top: 50%;
    left: 0;
    will-change: transform;
}

.orbital > .disks > .disk.left > .disk-content {
    animation: rotate-disk-content-L 8000ms linear infinite;
    
}

.orbital > .disks > .disk.right > .disk-content {
    animation: rotate-disk-content-R 8000ms linear infinite;
}

.orbital > .disks > .disk > .disk-content > img {
    --diameter: calc((var(--size-diameter) / 250000) * 20vw);
    position: absolute;
    top: calc((var(--diameter) / -2));
    left: calc((var(--diameter) / -2));
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
}

/*
--distance-radius: %
--start-position: %
--size-diameter: km
*/
.orbital .mercury { --distance-radius: 0.39; --size-diameter: 4880 }
.orbital .venus   { --distance-radius: 0.72; --size-diameter: 12104 }
.orbital .earth   { --distance-radius: 1.00; --size-diameter: 12742 }
.orbital .mars    { --distance-radius: 1.52; --size-diameter: 6779 }

.orbital .jupiter { --distance-radius: 35; --size-diameter: 139820; }
.orbital .saturn  { --distance-radius: 65; --size-diameter: 116460; }
.orbital .uranus  { --distance-radius: 85; --size-diameter: 50724; }
.orbital .neptune { --distance-radius: 100; --size-diameter: 49244; }

@keyframes rotate-disk-L {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes rotate-disk-R {
    from {
        transform: rotateZ(-180deg);
    }
    to {
        transform: rotateZ(180deg);
    }
}

@keyframes rotate-disk-content-L {
    0% {
        transform: rotateX(-75deg) rotateY(0deg);
    }
    50% {
        transform: rotateX(-105deg) rotateY(180deg);
    }
    100% {
        transform: rotateX(-75deg) rotateY(360deg);
    }
}

@keyframes rotate-disk-content-R {
    0% {
        transform: rotateX(-105deg) rotateY(-180deg);
    }
    50% {
        transform: rotateX(-75deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(-105deg) rotateY(180deg);
    }
}

